* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

.container {
	max-width: 970px;
}
h1 {
	color: #565656;
}    
form, h1 {
	margin: 20px;
}

form p {
    margin: 10px 0;
}

.formHead {
	background-color: #d9e8f5;
	padding: 15px;
}	
.testName {
	width: 100%;
}	

.testName span, .date span, .formHead label {
	display: block;
	font-size: 18px;
	padding: 0 0 10px 3px;
}	

.activity input, .answers input, .publicity input {
    display: none;
}

.activity input ~ label, .answers input ~ label, .publicity input ~ label {
    cursor: pointer;
    padding-left: 0;
}
.activity input ~ label::after {
    content: "\f205";
    display: block;
    font-family: FontAwesome;
    font-size: 20px;
    margin: 15px 0 0 -30px;
    text-align: center;
}
.activity input[type="checkbox"]:checked ~ label::after {
  color: #aaa;
  content: "\f204";
}

.publicity {	
	float: left;
	font-size: 12px;
	margin-top: 15px;
	text-align: center;
}

.publicity input ~ label::after, .answers input ~ label::after {
	color: #aaa;
	content: "\f096";
    display: block;
    font-family: FontAwesome;
    font-size: 30px;
}

.publicity input:checked ~ label::after, .answers input:checked ~ label::after {
	color: #111;
	content: "\f046";
}
.link {
	margin-top: 15px;
}
.link p {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.link input {
	width: 100%;
}

.copyLink-btn {
	float: right;
	margin-top: 40px;
	text-align: right;
}

.copyLink-btn button {
	width: 100%;
}
.main {
	margin: 40px 0;
	padding: 0 15px;
}

.question-container {
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 30px;
}

.question p,  .question_type p {
	color: #565656;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
}
.question p {
	float: left;
}
.question_type p {
	margin-bottom: 25px;
}
.image-container {
	padding-top: 58px;
}
.add-img-icon {
	cursor: pointer;
}

.add-img-icon::before {
	color: #003354;
	content: "\f03e";
	display: block;
	font-family: FontAwesome;
	font-size: 50px;
	margin-top: -13px;
}

.add-img-icon:active::before {
	color: #f26101;
}

.marks {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.marks label {
	font-size: 16px;
	font-weight: 400;
}
.question_mark p {
	padding: 0;
}

.answer-container {
	margin-top: 50px;
}

.answer-container .del-btn {
	cursor: pointer;
	float:right;
}


.del-btn-icon-ques {
	margin-top:10px;
	float:right;
}


.qst{
	height:200px;
}
.qst img {
	max-height: 150px;
	width: 100%;
	height: auto;
}
.answ{
	height:150px;	
	margin-bottom:15px;
}
.answ img{
	max-height:100px;
}