.main-nav {
	z-index: 2;
}

form {
 	margin: 10px auto;
 	max-width: 100%;
}

h1 {
	font-size: 36px;
}

.test-info, .test p, .test label {
	font-size: 18px;
	font-weight: 400;
	text-align: justify;
}

.test label {
	display: inline-block;
}

.contacts label {
	font-size: 20px;
}

.contacts .row {
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding-left: 25px;
}


input[type="checkbox"] + label, input[type="radio"] + label {
    cursor: pointer;
    padding-left: 0;
}
input[type="checkbox"] + label::before,  input[type="radio"] + label::before {
    display: inline-block;
	font-family: FontAwesome;
    height: 22px;
    text-align: center;
    width: 24px;
  }

 .question textarea.form-control {
	width: 50%;
	max-width: 1140px;
 }
 
 .btn-lg {
 	width: 50%;
 	margin: 40px 0;
 }
 
@media screen and (max-width: 768px) {
	 .question textarea.form-control {
	 width: 100%;
	 }
}


img.que {
	max-height: 400px;
	width: 400px;
	height: auto;
}

img.ans {
	max-height:100px;
	margin: 10px;
}