

.controls{
	height:24px;
	line-height:24px;
    margin-bottom: 12px;
    margin-top: 6px;
    border-bottom: 1px solid #bce0ff;
}

.test-about{
	font-size:12px;
}

table.test-table{
	width: 90vw;
}

table.test-table td.test-numb{
	width:5%;
}
table.test-table td.test-name{
	width:15%;
}
table.test-table td.test-about{
	width:80%;
}

table.test-table-client{
	width: 90vw;
}

table.test-table-client td.test-numb{
	width:5%;
}
table.test-table-client td.test-name{
	width:15%;
}
table.test-table-client td.test-about{
	width:50%;
}
table.test-table-client td.test-start{
	width:10%;
}
table.test-table-client td.test-end{
	width:10%;
}
table.test-table-client td.test-action{
	width:10%;
}

.functions{
	font-size: 14px;
    padding-right: 6px;
}

.functions .glyphicon{
	padding-right: 3px;
}

.combine{
	width: 50%;
    display: inline-block;
    white-space: normal;
 }
   
 .combine.__1{
 	padding-right: 1%;
 }

 .combine.__2{
 	padding-left: 1%;
 }
 